{% extends "base.html" %}

{% block content %}

    <h1>Liste des tâches</h1>
    <table class="table table-striped">
        <tr><th>Nom de la tâche</th><th>Description</th><th>Due date</th><th>Closed</th></tr>
        {% for elem in objets %}
        <tr>
            <td>
                {{ elem.name }}
            </td>
            <td>
                {{ elem.description }}
            </td>
            <td>
                {{ elem.due_date }}
            </td>
            <td>
                {{ elem.closed }}
            </td>
        </tr>
        {%endfor%}
    </table>
{% endblock content %}
